.profile-progressbar
{
    border-radius: 2px;
    border: 1px solid #D89F66;
    height: 20px;
    background: url(../img/tropics/background.png) repeat-x;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.profile-progressbar-complete
{
    height: 20px;
    background: url(../img/tropics/complete.png) repeat-x;
    position: absolute;
    z-index: 10;
}

.profile-progressbar-caption
{
    position: absolute;
    z-index: 11;
}
