{$menu}

<div class="ow_automargin ow_superwide">
    {form name='adminForm'}
    <table class="ow_table_1 ow_form">

        <tr class="ow_alt{cycle values='1,2'}"> 
            <td class="ow_label">{label name="sqlQuery"}</td>
            <td class="ow_value">{input name="sqlQuery"} {error name='sqlQuery'}</td>
        </tr>
        <tr class="ow_alt{cycle values='1,2'}">
            <td colspan="2" class="ow_submit">
                {text key='sitetour+notice_text1'} <br><br>
                {text key='sitetour+prefix_text'} : {$dbPrefix}
            </td>
        </tr>
        <tr class="ow_alt{cycle values='1,2'}">
            <td colspan="2" class="ow_submit">{submit name="saveSettings" class='ow_ic_save'}</td>
        </tr>

    </table>
    {/form}  
</div>