    {if !$auth_msg} 
		{form name='vwvcAddForm'}
		
		<table class="ow_table_1 ow_form">
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='room_name'}</td>
		        <td class="ow_value">{input name='room_name'} <br /> {error name='room_name'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+room_name_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='description'}</td>
		        <td class="ow_value">{input name='description'} <br /> {error name='description'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+description_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='welcome'}</td>
		        <td class="ow_value">{input name='welcome'} <br /> {error name='welcome'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+welcome_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='resolution'}</td>
		        <td class="ow_value">{input name='resolution'} <br /> {error name='resolution'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+resolution_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='camera_fps'}</td>
		        <td class="ow_value">{input name='camera_fps'} <br /> {error name='camera_fps'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+camera_fps_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='microphone_rate'}</td>
		        <td class="ow_value">{input name='microphone_rate'} <br /> {error name='microphone_rate'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+microphone_rate_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='soundQuality'}</td>
		        <td class="ow_value">{input name='soundQuality'} <br /> {error name='soundQuality'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+soundQuality_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='bandwidth'}</td>
		        <td class="ow_value">{input name='bandwidth'} <br /> {error name='bandwidth'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+bandwidth_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='background_url'}</td>
		        <td class="ow_value">{input name='background_url'} <br /> {error name='background_url'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+background_url_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='layout_code'}</td>
		        <td class="ow_value">{input name='layout_code'} <br /> {error name='layout_code'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+layout_code_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='fill_window'}</td>
		        <td class="ow_value">{input name='fill_window'} <br /> {error name='fill_window'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+fill_window_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='flood_protection'}</td>
		        <td class="ow_value">{input name='flood_protection'} <br /> {error name='flood_protection'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+flood_protection_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='filter_regex'}</td>
		        <td class="ow_value">{input name='filter_regex'} <br /> {error name='filter_regex'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='filter_replace'}</td>
		        <td class="ow_value">{input name='filter_replace'} <br /> {error name='filter_replace'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='show_camera_settings'}</td>
		        <td class="ow_value">{input name='show_camera_settings'} <br /> {error name='show_camera_settings'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='advanced_camera_settings'}</td>
		        <td class="ow_value">{input name='advanced_camera_settings'} <br /> {error name='advanced_camera_settings'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='configure_source'}</td>
		        <td class="ow_value">{input name='configure_source'} <br /> {error name='configure_source'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='disable_video'}</td>
		        <td class="ow_value">{input name='disable_video'} <br /> {error name='disable_video'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='disable_sound'}</td>
		        <td class="ow_value">{input name='disable_sound'} <br /> {error name='disable_sound'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='panel_rooms'}</td>
		        <td class="ow_value">{input name='panel_rooms'} <br /> {error name='panel_rooms'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='panel_users'}</td>
		        <td class="ow_value">{input name='panel_users'} <br /> {error name='panel_users'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='panel_files'}</td>
		        <td class="ow_value">{input name='panel_files'} <br /> {error name='panel_files'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='file_upload'}</td>
		        <td class="ow_value">{input name='file_upload'} <br /> {error name='file_upload'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='file_delete'}</td>
		        <td class="ow_value">{input name='file_delete'} <br /> {error name='file_delete'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='tutorial'}</td>
		        <td class="ow_value">{input name='tutorial'} <br /> {error name='tutorial'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+tutorial_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='auto_view_cameras'}</td>
		        <td class="ow_value">{input name='auto_view_cameras'} <br /> {error name='auto_view_cameras'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+auto_view_cameras_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='show_timer'}</td>
		        <td class="ow_value">{input name='show_timer'} <br /> {error name='show_timer'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+show_timer_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='write_text'}</td>
		        <td class="ow_value">{input name='write_text'} <br /> {error name='write_text'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='regular_watch'}</td>
		        <td class="ow_value">{input name='regular_watch'} <br /> {error name='regular_watch'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='new_watch'}</td>
		        <td class="ow_value">{input name='new_watch'} <br /> {error name='new_watch'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='private_textchat'}</td>
		        <td class="ow_value">{input name='private_textchat'} <br /> {error name='private_textchat'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='user_list'}</td>
		        <td class="ow_value">{input name='user_list'} <br /> {error name='user_list'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+user_list_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='moderator_list'}</td>
		        <td class="ow_value">{input name='moderator_list'} <br /> {error name='moderator_list'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+moderator_list_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='administrator'}</td>
		        <td class="ow_value">{input name='administrator'} <br /> {error name='administrator'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+administrator_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='verbose_level'}</td>
		        <td class="ow_value">{input name='verbose_level'} <br /> {error name='verbose_level'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+verbose_level_desc'}</td>
		    </tr>			
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='tags'}</td>
		        <td class="ow_value">{input name='tags'} <br /> {error name='tags'}</td>
		        <td class="ow_desc ow_small">{text key='vwvc+tags_desc'}</td>
		    </tr>			
		    <tr>
		        <td colspan="3" class="ow_submit">{submit name='add' class='ow_ic_add'}</td>
		    </tr>  
		</table>
		
		{/form}
    {else}
        <div class="ow_anno ow_std_margin ow_nocontent">{$auth_msg}</div>
    {/if}