<?xml version="1.0" encoding="utf-8"?>

<plugin>
	<name>Friends Inviter 1.02</name>
	<key>yncontactimporter</key>
	<description>With Friends Inviter plugin, users can access to visitors address books to invite them to connect in all major email providers and social networks around the world.</description>
    <author>YouNet Company</author>
    <authorEmail>info@younetco.com</authorEmail>
	<authorUrl>http://www.younetco.com</authorUrl>
	<developerKey>5f4e7f2f0fb2da439d9280b671e79a86</developerKey>
    <build>4</build>
    <copyright>YouNet Company</copyright>
	<license>The BSD License</license>
    <licenseUrl>http://www.opensource.org/licenses/bsd-license.php</licenseUrl>
</plugin>
