<div class="mc-dropdown-item clearfix ow_small">
    <div class="mc-ddi-avatar ow_mini_avatar">
        <div class="ow_avatar">
            <img class="mc-ddi-avatar-image" src="{$data.avatar}" />
        </div>
    </div>
    <div class="mc-ddi-content">
        <span class="mc-ddi-text">{$data.text}</span>
        <div class="mc-info-wrap">
            <div class="mc-online {if !$data.online}mc-online-hidden{/if} ow_miniic_live">
                <span class="ow_live_on"></span>
            </div>
            <div class="mc-ddi-info ow_remark" >{$data.info}</div>
        </div>
    </div>
</div>