{form name='affiliate-edit'}
<table class="ow_table_1 ow_form">
    <tr class="ow_alt2 ow_tr_first">
        <td class="ow_label">{label name='name'}</td>
        <td class="ow_value">{input name='name'}</td>
        <td class="ow_desc ow_small"></td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">{label name='email'}</td>
        <td class="ow_value">{input name='email'}</td>
        <td class="ow_desc ow_small">{text key='ocsaffiliates+email_desc'}</td>
    </tr>
    <tr class="ow_alt2">
        <td class="ow_label">{label name='password'}</td>
        <td class="ow_value">{input name='password'}</td>
        <td class="ow_desc ow_small">{text key='ocsaffiliates+password_edit_desc'}</td>
    </tr>
    {if $mode == 'admin'}
    <tr class="ow_alt1">
        <td class="ow_label">{label name='emailVerified'}</td>
        <td class="ow_value">{input name='emailVerified'}</td>
        <td class="ow_desc ow_small"></td>
    </tr>
    <tr class="ow_alt2">
        <td class="ow_label">{label name='status'}</td>
        <td class="ow_value">{input name='status'}</td>
        <td class="ow_desc ow_small"></td>
    </tr>
    {/if}
    <tr class="ow_alt1 ow_tr_last">
        <td class="ow_label">{label name='payment'}</td>
        <td class="ow_value">{input name='payment'}</td>
        <td class="ow_desc ow_small">{text key='ocsaffiliates+payment_desc'}</td>
    </tr>
</table>
<div class="ow_txtright ow_submit ow_positive">{submit name='save'}</div>
{/form}