
<div id="vwvr_edit_form" class="ow_superwide ow_automargin">

{form name='vwvrEditForm'}
		<table class="ow_table_1 ow_form">
		<tr class="ow_alt1">
		        <td class="ow_label">{label name='room_name'}</td>
		        <td class="ow_value">{input name='room_name'} <br /> {error name='room_name'}</td>
		        <td class="ow_desc ow_small">{text key='vwvr+room_name_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='description'}</td>
		        <td class="ow_value">{input name='description'} <br /> {error name='description'}</td>
		        <td class="ow_desc ow_small">{text key='vwvr+description_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='tags'}</td>
		        <td class="ow_value">{input name='tags'} <br /> {error name='tags'}</td>
		        <td class="ow_desc ow_small">{text key='vwvr+tags_desc'}</td>
		    </tr>			
		    <tr>
            <td colspan="3" class="ow_submit">{submit name='edit' class='ow_ic_save'}</td>
		    </tr>  
		</table>
{/form}
    
</div>
