
<div id="vwls_edit_form" class="ow_superwide ow_automargin">

{form name='vwlsEditForm'}
		<table class="ow_table_1 ow_form">
		<tr class="ow_alt1">
		        <td class="ow_label">{label name='room_name'}</td>
		        <td class="ow_value">{input name='room_name'} <br /> {error name='room_name'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+room_name_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='description'}</td>
		        <td class="ow_value">{input name='description'} <br /> {error name='description'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+description_desc'}</td>
		    </tr>
		<tr class="ow_alt1">
		        <td class="ow_label">{label name='room_limit'}</td>
		        <td class="ow_value">{input name='room_limit'} <br /> {error name='room_limit'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='show_camera_settings'}</td>
		        <td class="ow_value">{input name='show_camera_settings'} <br /> {error name='show_camera_settings'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='advanced_camera_settings'}</td>
		        <td class="ow_value">{input name='advanced_camera_settings'} <br /> {error name='advanced_camera_settings'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='configure_source'}</td>
		        <td class="ow_value">{input name='configure_source'} <br /> {error name='configure_source'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='user_list'}</td>
		        <td class="ow_value">{input name='user_list'} <br /> {error name='user_list'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+user_list_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='moderator_list'}</td>
		        <td class="ow_value">{input name='moderator_list'} <br /> {error name='moderator_list'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+moderator_list_desc'}</td>
		    </tr>
			<tr>
        <th class="ow_name ow_txtleft" colspan="3">
            {text key='vwls+broadcasting_settings'}
        </th>
			</tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='welcome'}</td>
		        <td class="ow_value">{input name='welcome'} <br /> {error name='welcome'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+welcome_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='only_video'}</td>
		        <td class="ow_value">{input name='only_video'} <br /> {error name='only_video'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='no_video'}</td>
		        <td class="ow_value">{input name='no_video'} <br /> {error name='no_video'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='no_embeds'}</td>
		        <td class="ow_value">{input name='no_embeds'} <br /> {error name='no_embeds'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='show_timer'}</td>
		        <td class="ow_value">{input name='show_timer'} <br /> {error name='show_timer'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+show_timer_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='write_text'}</td>
		        <td class="ow_value">{input name='write_text'} <br /> {error name='write_text'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>			
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='resolution'}</td>
		        <td class="ow_value">{input name='resolution'} <br /> {error name='resolution'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+resolution_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='camera_fps'}</td>
		        <td class="ow_value">{input name='camera_fps'} <br /> {error name='camera_fps'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+camera_fps_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='microphone_rate'}</td>
		        <td class="ow_value">{input name='microphone_rate'} <br /> {error name='microphone_rate'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+microphone_rate_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='soundQuality'}</td>
		        <td class="ow_value">{input name='soundQuality'} <br /> {error name='soundQuality'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+soundQuality_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='bandwidth'}</td>
		        <td class="ow_value">{input name='bandwidth'} <br /> {error name='bandwidth'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+bandwidth_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='flood_protection'}</td>
		        <td class="ow_value">{input name='flood_protection'} <br /> {error name='flood_protection'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+flood_protection_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='verbose_level'}</td>
		        <td class="ow_value">{input name='verbose_level'} <br /> {error name='verbose_level'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+verbose_level_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='label_color'}</td>
		        <td class="ow_value">{input name='label_color'} <br /> {error name='label_color'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='private_textchat'}</td>
		        <td class="ow_value">{input name='private_textchat'} <br /> {error name='private_textchat'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='layout_code'}</td>
		        <td class="ow_value">{input name='layout_code'} <br /> {error name='layout_code'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+layout_code_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='fill_window'}</td>
		        <td class="ow_value">{input name='fill_window'} <br /> {error name='fill_window'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+fill_window_desc'}</td>
		    </tr>

			<tr>
        <th class="ow_name ow_txtleft" colspan="3">
            {text key='vwls+watch_settings'}
        </th>
			</tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='welcome2'}</td>
		        <td class="ow_value">{input name='welcome2'} <br /> {error name='welcome2'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+welcome2_desc'}</td>
		    </tr>			
			</tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='offline_message'}</td>
		        <td class="ow_value">{input name='offline_message'} <br /> {error name='offline_message'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='flood_protection2'}</td>
		        <td class="ow_value">{input name='flood_protection2'} <br /> {error name='flood_protection2'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+flood_protection2_desc'}</td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='layout_code2'}</td>
		        <td class="ow_value">{input name='layout_code2'} <br /> {error name='layout_code2'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+layout_code2_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='fill_window2'}</td>
		        <td class="ow_value">{input name='fill_window2'} <br /> {error name='fill_window2'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='filter_regex'}</td>
		        <td class="ow_value">{input name='filter_regex'} <br /> {error name='filter_regex'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='filter_replace'}</td>
		        <td class="ow_value">{input name='filter_replace'} <br /> {error name='filter_replace'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='write_text2'}</td>
		        <td class="ow_value">{input name='write_text2'} <br /> {error name='write_text2'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='enable_video'}</td>
		        <td class="ow_value">{input name='enable_video'} <br /> {error name='enable_video'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='enable_chat'}</td>
		        <td class="ow_value">{input name='enable_chat'} <br /> {error name='enable_chat'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='enable_users'}</td>
		        <td class="ow_value">{input name='enable_users'} <br /> {error name='enable_users'}</td>
		        <td class="ow_desc ow_small"></td>
		    </tr>
        <tr class="ow_alt1">
		        <td class="ow_label">{label name='tags'}</td>
		        <td class="ow_value">{input name='tags'} <br /> {error name='tags'}</td>
		        <td class="ow_desc ow_small">{text key='vwls+tags_desc'}</td>
        </tr>
        <tr>
            <td colspan="3" class="ow_submit">{submit name='edit' class='ow_ic_save'}</td>
        </tr>  
    </table>
{/form}
    
</div>
