{$menu}
{if count($allCategories) eq 0}
{text key='eventx+admin_no_categories'} <br/><br/>
{else}

{style}
{literal}
element.style {
margin-left: 0px !;
padding-left: 19px!;
}
{/literal}
{/style}

<center>
    <table>
        {foreach from=$allCategories item=category}
        <tr>            
            <td>{$category.name}</td> 
            <td><a class="ow_ic_edit" href="{$category.editUrl}" style="width:16px; height:16px; display:block; margin:0 auto;background-repeat:no-repeat;background-position: 50% 50%;" ></a></td>                      
            <td>
                {if $category.id GT 1}
                <a class="ow_ic_delete" href="{{$category.deleteUrl}}" onclick="return confirm('{text key="base+are_you_sure"}');" style="width:16px; height:16px; display:block; margin:0 auto;background-repeat:no-repeat;background-position: 50% 50%;" ></a>
                {/if}
            </td>                
        </tr>
        {/foreach}
    </table>
</center>
{/if}

<br/><br/>    
<div class="ow_automargin ow_superwide">

    {form name='categoriesForm'}
    <table class="ow_table_1 ow_form">

        <tr> 
            <td class="ow_label">{label name="categoryName"}</td>
            <td class="ow_value">{input name="categoryName"} {error name='categoryName'}</td>
        </tr>
        <tr> 
            <td class="ow_label">{label name="categoryDesc"}</td>
            <td class="ow_value">{input name="categoryDesc"} {error name='categoryDesc'}</td>
        </tr>     
        <tr>
            <td class="ow_center" colspan="2">{submit name='addCategory' class='ow_button ow_ic_save'}</td>
        </tr>
    </table>
    {/form}

</div>

<div class="ow_automargin ow_superwide">

    {form name='reassignForm'}

    <table class="ow_table_1 ow_form">

        <tr> 
            <td class="ow_center">Reassign items from category {input name="oldCategory"} to category {input name="newCategory"}</td>
        </tr>
        <tr>
            <td class="ow_center">{submit name='reassignCategory' class='ow_button ow_ic_save'}</td>
        </tr>
    </table>
    {/form}

</div>
