<h5>{text key ='yncontactimporter+edit_provider_discription'}</h5>
<br/>
{form name='provider-edit-form'}
    <table class="ow_table_1 ow_form ow_stdmargin">
        <tr class="ow_alt2 ow_tr_first">
            <td class="ow_label">{label name='title'}</td>
            <td class="ow_value">{input name='title'}</td>
        </tr>
        <tr class="ow_alt2">
            <td class="ow_label">{label name='order'}</td>
            <td class="ow_value">{input name='order'}</td>
        </tr>
        <tr class="ow_alt2 ow_tr_last">
            <td class="ow_label">{label name='enable'}</td>
            <td class="ow_value">{input name='enable'}</td>
        </tr>
    </table>
	<div class="clearfix">
		<div class="ow_right">{submit name='edit' class='ow_ic_save ow_positive'}</div>
	</div>
{/form}