<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>Social Publisher 1.01</name>
	<key>ynsocialpublisher</key>
	<description>Publish user's activities to Facebook, Twitter, LinkedIn</description>
    <author>YouNet Company</author>
    <authorEmail>info@younetco.com</authorEmail>
	<authorUrl>http://www.younetco.com</authorUrl>
	<developerKey>5f4e7f2f0fb2da439d9280b671e79a86</developerKey>
    <build>1.01</build>
    <copyright>YouNet Company</copyright>
	<license>The BSD License</license>
    <licenseUrl>http://www.opensource.org/licenses/bsd-license.php</licenseUrl>
</plugin>