<?xml version="1.0" encoding="utf-8"?>

<plugin>
	<name>User Credits</name>
	<key>usercredits</key>
	<description>Allow users to earn, purchase and spend user credits</description>
    <author>Skalfa LLC</author>
    <authorEmail>oxwall@skalfa.com</authorEmail>
	<authorUrl>http://www.skalfa.com</authorUrl>
	<developerKey>99d6bdd5bb6468beaf118c4664dd92ff</developerKey>
    <build>6510</build>
    <copyright>(C) 2009 Skalfa LLC. All rights reserved.</copyright>
	<license>OSCL</license>
    <licenseUrl>http://www.oxwall.org/store/oscl</licenseUrl>
</plugin>
