{$menu}

{$info}

<div class="ow_center ow_stdmargin">
    {decorator name='button_list_item' type='button' langLabel='ocsaffiliates+edit' id='btn-affiliate-edit'}
    {decorator name='button_list_item' type='button' langLabel='ocsaffiliates+delete' id='btn-affiliate-delete'}
    {decorator name='button_list_item' type='button' langLabel='ocsaffiliates+register_payout' id='btn-register-payout'}
    {decorator name='button_list_item' type='button' langLabel='ocsaffiliates+login_as_affiliate' id='btn-login'}
</div>

{$stats}

{$payouts}