<div>
    <div>
        <img src="{$userThumb}" />    
    </div>
   <div>
       {text key="ynmediaimporter+text_connected_as"}<a href="{$userProfileUrl}" target="_default"> {$userDisplayName}</a>
   </div>
</div>

<ul>
        <li>
            <a href="{$disconnectUrl}" class="buttonlink ynmediaimporter_link_disconnect">Disconnect</a>
        </li>
        <li>
            <a onclick="YnMediaImporter.updatePage('service=flickr&media=photo&extra=my')" href="javascript:void(0);" class="buttonlink ynmediaimporter_link_photo">PhotoStream</a>
        </li>
        <li>
            <a onclick="YnMediaImporter.updatePage('service=flickr&media=photoset&extra=my')" href="javascript:void(0);" class="buttonlink ynmediaimporter_link_album">Sets</a>
        </li>
        <li>
            <a onclick="YnMediaImporter.updatePage('service=flickr&media=favourite&extra=my')" href="javascript:void(0);" class="buttonlink ynmediaimporter_link_photo">Favourites</a>
        </li>
        <li>
            <a onclick="YnMediaImporter.updatePage('service=flickr&media=gallery&extra=my')" href="javascript:void(0);" class="buttonlink  ynmediaimporter_link_gallery">Galleries</a>
        </li>
    </ul>