<?xml version="1.0" encoding="utf-8"?>

<plugin>
	<name>ICEPAY Billing</name>
	<key>ocsbillingicepay</key>
	<description>Accept payments from users with ICEPAY European payment provider</description>
    <author>Oxwall CandyStore</author>
    <authorEmail>plugins@oxcandystore.com</authorEmail>
	<authorUrl>http://oxcandystore.com</authorUrl>
	<developerKey>c36f83152f203c5a947a3fb053e4bc24</developerKey>
    <build>2</build>
    <copyright>(C) 2013 Oxwall CandyStore. All rights reserved.</copyright>
    <license>CPAL 1.0</license>
    <licenseUrl>http://opensource.org/licenses/CPAL-1.0</licenseUrl>
</plugin>