<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:ror="http://rorweb.com/0.1/" >
<channel>
  <title>ROR Sitemap for http://www.oxwall.org/</title>
  <link>http://www.oxwall.org/</link>

<item>
     <link>http://www.oxwall.org/</link>
     <title>Oxwall ® - PHP Social Networking Software | Community Script</title>
     <description>Open source PHP social networking software with Facebook-style newsfeed. Free plugins, themes, easy installation and auto-updates.</description>
     <ror:updatePeriod></ror:updatePeriod>
     <ror:sortOrder>0</ror:sortOrder>
     <ror:resourceOf>sitemap</ror:resourceOf>
</item>
</channel>
</rss>
