<div id="{$uniqId}">
<div  class="att-attachments-c">

    <div class="att-attachments ATT_Result" style="display: none;" >
        {block_decorator name='tooltip' addClass='att-equestions-tooltip'}
            <a href="javascript://" title="{text key="equestions+attachments_delete_title"}" class="att-close ow_miniic_delete ATT_BodyClose"></a>
            <div class="ATT_Prloader att-preloader ow_preloader_content" style="display: none;"></div>

            <div class="att-preview ATT_ResultContent"></div>
        {/block_decorator}
    </div>

    <div style="display: none;" class="ATT_Panels">

        {if isset($image)}
        <div class="ATT_ImagePanel">
           {$image}
        </div>
        {/if}

        {if isset($video)}
        <div class="ATT_VideoPanel">
            {$video}
        </div>
        {/if}

        {if isset($link)}
        <div class="ATT_LinkPanel">
            {$link}
        </div>
        {/if}

    </div>

</div>
</div>
