<div class="on-container" id="{$uniqId}" style="display: none;">
    <div class="ow_tooltip on-tooltip ow_small">
        <div class="tail"><span></span></div>
        <div class="body ow_border">
            <div class="clearfix on-body-wrap">
                <div class="on-body ON_BodyWrap">
                    <div class="ON_Body"></div>
                    {*<div class="ON_Preloader on-preloader ow_preloader_content" style="display: none;"></div>*}
                </div>
                <div class="ON_Controls on-controls">
                    <a hreh="#" class="ON_Close ow_miniic_delete on-close"> </a>
                </div>
            </div>
            <a href="{$allUrl}" {if !$viewMore}style="display: none"{/if} class="onl-view-all ow_border ON_ViewMore">{text key="equestions+notifications_see_all"}</a>
        </div>
    </div>
</div>
