


<div class="owner_info">
  <div class="thumb">
    <a href="John Smith"><img src="/public/user/b4/06/06ae_24bf.jpg?c=175e" alt="" class="thumb_icon item_video_user  thumb_icon" /></a>
  </div>
  <div class="poster">
    <a href="/profile/test3">John Smith</a>
  </div>
</div>

<div class="album_timestamp">
  Added <span title="Mon, 26 Aug 2013 21:47:31 -0700" class="timestamp timestamp-update">3 hours ago</span></div>

<div class="video_info">
  <div class="video_title"></div>
  <div class="video_description"></div>
</div>


<div class="wpTags" id="media_tags_242" style="display: none;" onmouseover="VideoViewer.noZoom(1)" onmouseout="VideoViewer.noZoom(0)">
  Tagged:</div>

<div class="external-options" style="display: none;">
  <a  href="/report/create/subject/album_video_242/format/smoothbox" class="smoothbox"><i class="icon-flag"></i>Report</a>      <a  href="/members/edit/external-video/video/album_video_242/format/smoothbox" class="smoothbox"><i class="icon-picture"></i>Make Profile Video</a>        <a  href="/videoviewer/index/download/video_id/242/isPage/0/format/smoothbox"><i class="icon-download"></i>Download this video</a>  </div>



<div class="external-top">
        <a  href="javascript:void(0);" class="wpbtn wpbtn-inverse" onclick="taggerInstance242.begin();" title="Add Tag"><i class="icon-tag onlyicon"></i></a>        <a  href="/album/video/edit/video_id/242" class="wpbtn wpbtn-inverse smoothbox" title="Edit"><i class="icon-wrench onlyicon"></i></a>        <a  href="/album/video/delete/video_id/242" class="wpbtn wpbtn-inverse smoothbox" title="Delete"><i class="icon-trash onlyicon"></i></a>  
  <a href="javascript:void(0);" class="actions wpbtn wpbtn-inverse" onclick="VideoViewer.toggleOptions();" title="actions">
    <i class="icon-reorder onlyicon"></i>
    <i class="icon-caret-down right"></i></a>
  </div>

<div class="external-bottom">

        <a
      onclick=""
      class="wpbtn wpbtn-danger unlike"
      href="javascript:void(0);" style="display: none;">
      <i class="icon-thumbs-down"></i>
      Unlike    </a>

    <a
      onclick=""
      class="wpbtn wpbtn-danger like"
      href="javascript:void(0);" >
      <i class="icon-thumbs-up"></i>
      Like    </a>

    
          <a onclick="$('comment-form').style.display = ''; $('comment-form').body.focus();" class="wpbtn wpbtn-inverse" href="javascript:void(0);">
        <i class="icon-comment-alt"></i>
        Comment      </a>
    
          <a class="wpbtn wpbtn-success smoothbox" href="/activity/index/share/route/default/type/album_video/id/242/format/smoothbox">
        <i class="icon-reply"></i>
        Share      </a>
    
    <a class="wpbtn wpbtn-inverse wp_init" href="/albums/video/view/album_id/37/video_id/242">
      <i class="icon-picture"></i>
      Go video    </a>

</div></div>

<div class="generic_layout_container layout_core_comments"><h3>Comments</h3>




<div class='comments' id="comments">
  <div class='comments_options'>
    <span>0 comments</span>

          - <a href='javascript:void(0);' onclick="$('comment-form').style.display = '';$('comment-form').body.focus();">Post Comment</a>
    
                  - <a href="javascript:void(0);" onclick="">Like This</a>
            </div>
  <ul>

    
    
  </ul>

  <form id="comment-form" enctype="application/x-www-form-urlencoded" style="display:none;" action="" method="post">

<textarea name="body" id="body" cols="45" rows="1"></textarea>

<button name="submit" id="submit" type="submit">Post Comment</button>

<input type="hidden" name="type" value="album_video" id="type" />

<input type="hidden" name="identity" value="242" id="identity" /></form></div>
